<div class="main-divider">
  <form action="" [formGroup]="addSuppliers" (ngSubmit)="onSubmit()" class="main-form">
    <div class="inform-divider">
      <div class="item">
        <label for="">Enter Supplier Name:</label>
        <input formControlName="supplierName" type="text" />
      </div>
      <div class="item">
        <label for="">Enter Supplier Company:</label>
        <input formControlName="supplierCompany" type="text" />
        <div *ngIf="addSuppliers.get('supplierCompany')?.invalid && (addSuppliers.get('name')?.dirty||addSuppliers.get('name')?.touched)">
test
        </div>
      </div>
      <div class="item">
        <label for="">Enter Supplier Contact NO:</label>
        <input formControlName="supplierContact" type="text" />
      </div>
      <div class="item">
        <label for="">Enter Supplier Area:</label>
        <input formControlName="supplierArea" type="text" />
      </div>
      <div class="item">
        <button class="addbtn" type="submit" [disabled]="addSuppliers.invalid">Add</button>
      </div>
    </div>
    <div  class="inform-divider">
      <table>
        <thead style="height: 100px;">
          <tr>
            <th style=" border: 1px solid dodgerblue;  ">Supplier Name</th>
            <th style=" border: 1px solid dodgerblue;  ">Supplier Company</th>
            <th style=" border: 1px solid dodgerblue;  ">Supplier Contact NO</th>
            <th style=" border: 1px solid dodgerblue;  ">Supplier Area</th>
          
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supplier of suppliers$ |async">
            <td>{{supplier.supplierName}}</td>
            <td>{{supplier.supplierCompany}}</td>
            <td>{{supplier.supplierContact }}</td>
            <td>{{supplier.supplierArea}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </form>
  
 
</div>
