<div class="main-divider">
  <form [formGroup]="addSuppliers" (ngSubmit)="onSubmit()" class="main-form">
    <div class="inform-divider">
      <div class="item">
        <label for="supplierName">Enter Supplier Name:</label>
        <input formControlName="supplierName" type="text" id="supplierName" />
        <div *ngIf="addSuppliers.get('supplierName')?.invalid && (addSuppliers.get('supplierName')?.dirty || addSuppliers.get('supplierName')?.touched)">
          <small class="error">Supplier Name is required.</small>
        </div>
      </div>

      <div class="item">
        <label for="supplierCompany">Enter Supplier Company:</label>
        <input formControlName="supplierCompany" type="text" id="supplierCompany" />
        <div *ngIf="addSuppliers.get('supplierCompany')?.invalid && (addSuppliers.get('supplierCompany')?.dirty || addSuppliers.get('supplierCompany')?.touched)">
          <small class="error">Supplier Company is required.</small>
        </div>
      </div>

      <div class="item">
        <label for="supplierContact">Enter Supplier Contact NO:</label>
        <input formControlName="supplierContact" type="text" id="supplierContact" />
        <div *ngIf="addSuppliers.get('supplierContact')?.invalid && (addSuppliers.get('supplierContact')?.dirty || addSuppliers.get('supplierContact')?.touched)">
          <small class="error">Supplier Contact is required.</small>
        </div>
      </div>

      <div class="item">
        <label for="supplierArea">Enter Supplier Area:</label>
        <input formControlName="supplierArea" type="text" id="supplierArea" />
        <div *ngIf="addSuppliers.get('supplierArea')?.invalid && (addSuppliers.get('supplierArea')?.dirty || addSuppliers.get('supplierArea')?.touched)">
          <small class="error">Supplier Area is required.</small>
        </div>
      </div>

      <div class="item">
        <button class="addbtn" type="submit" [disabled]="addSuppliers.invalid">Add</button>
      </div>
    </div>

    <!-- Display the list of suppliers -->
    <div class="inform-divider">
      <table>
        <thead>
          <tr>
            <th>Supplier Name</th>
            <th>Supplier Company</th>
            <th>Supplier Contact NO</th>
            <th>Supplier Area</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supplier of supplierList">
            <td>{{ supplier.supplierName }}</td>
            <td>{{ supplier.supplierCompany }}</td>
            <td>{{ supplier.supplierContact }}</td>
            <td>{{ supplier.supplierArea }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
