<div class="main-divider">
  <h3 class="header-class">View Purchase Orders</h3>
  <div class="main-form">
    <form action="">
      <div class="form-class-main-divider">
        <div class="">
          <label for="">Enter Text:</label> <input type="text" />
        </div>
        <div class="">
          <label for="">Enter Text:</label> <input type="text" />
        </div>
        <div class="">
          <label for="">Enter Text:</label> <input type="text" />
        </div>
        <div class="">
          <label for="">Enter Text:</label> <input type="text" />
        </div>
        <div class="">
          <label for="">Enter Text:</label> <input type="text" />
        </div>
        <div class="">
          <label for="">Enter Text:</label> <input type="text" />
        </div>
        <div class="">
          <label for="">Enter Text:</label> <input type="text" />
        </div>
        <div class="">
          <label for="">Enter Text:</label> <input type="text" />
        </div>
      </div>
      <div class="form-class-second-divider">
        <div  class="table-class-left">
          <table>
            <thead>
              <tr>
                <th>First Row </th>
                <th>Second Row</th>
                <th>Third Row</th>
                <th>Fourth Row</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Green</td>
                    <td>Green</td>
                    <td>Green</td>
                    <td>Green</td>
                </tr>
            </tbody>
          </table>
        </div>
        <div class="table-class-right">
            <table>
              <thead>
                <tr>
                  <th>First Row </th>
                  <th>Second Row</th>
                  <th>Third Row</th>
                  <th>Fourth Row</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Green</td>
                      <td>Green</td>
                      <td>Green</td>
                      <td>Green</td>
                  </tr>
              </tbody>
            </table>
          </div>
      </div>
      <div class="form-class-third-divider">
        <label for="">Enter some Text:
        <input type="text"></label>
        <label for="">Enter some Text:
          <input type="text"></label>

 
      </div>
      <div class="form-class-fourth-divider">
        <label for="">Enter some Text:
        <input type="text"></label>
        <label for="">Enter some Text:
          <input type="text"></label>

 
      </div>
      <div class="form-class-fifth-divider">
        <label for="">Enter some Text:
          <input type="text"></label>
          <label for="">Enter some Text:
            <input type="text"></label>
      </div>
      <div class="form-class-sixth-divider">
        <label for="">Enter some Text:
          <input type="text"></label>
          <label for="">Enter some Text:
            <input type="text"></label>
      </div>
    </form>
  </div>
</div>
