<div class="main-divider">
  <form action="" class="form-divider">
    <h3>Add Order Section</h3>
    <div class="form-divider-one">
      <div class="form-divider-indivder">
        <div class="">
          <label for="">Order Name:</label> <input type="text" />
        </div>
        <div class="">
          <label for="">Customer Name:</label> <input type="text" />
        </div>
        <div class="">
          <label for="">Customer T.P Number:</label> <input type="text" />
        </div>
        <div class="">
          <label for="">Customer Address:</label> <input type="text" />
        </div>
        <button class="enter-to-table">Add to table</button>
      </div>
      <div>
        
      </div>
      <table class="left-table">
        <thead>
          <tr>
            <th>Order Id</th>
            <th>Order Name</th>
            <th>Customer Name</th>
            <th>Customer Telephone Number</th>
            <th>Customer Address</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
          </tr>
        </tbody>
      </table>
      <table class="right-table">
        <thead>
          <tr>
            <th>1</th>
            <th>1</th>
            <th>1</th>
            <th>1</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ggh</td>
            <td>ggh</td>
            <td>ggh</td>
            <td>ggh</td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
