<div class="main-divider">
  <form action="" class="form-divider">
    <h3>Add Order Section</h3>
    <div class="form-divider-one">
      <div class="form-divider-indivder">


        <div class="">
          <label for="">Select Food</label>
          <ng-select
            name="orderName"
            id=""
            required
            class="select"
            [(ngModel)]="newOrder.orderName"
          >
            <ng-option value="" disabled selected>Select Order</ng-option>
            <ng-option value="Rice & Curry ">Rice & Curry </ng-option>
            <ng-option value="Fish Bun ">Fish Bun </ng-option>
            <ng-option value="Jam Bun ">Jam Bun </ng-option>
            <ng-option value="Sausage  Bun ">Sausage Bun </ng-option>
          </ng-select>
        </div>
        <div class="">
          <label for="">Select Price</label>
          <input
            required
            name="price"
            [(ngModel)]="newOrder.price"
            type="text"
          />
        </div>
        <div class="">
          <label for="">Qty</label>
          <input required name="qty" [(ngModel)]="newOrder.qty" type="tel" />
        </div> 


        <div class="">
         <label for="">Discount </label>
          <ng-select
            name="discountPrice"
            class="select"
            id=""
            required
            [(ngModel)]="newOrder.discountPrice"
          >
            <ng-option option value="" disabled selected
              >Select Discount</ng-option
            >
            <ng-option value="0">0%</ng-option>
            <ng-option value="1">1%</ng-option>
            <ng-option value="2">2%</ng-option>
            <ng-option value="5">5%</ng-option>
            <ng-option value="10">10%</ng-option>
          </ng-select>
        </div>
        <div>
          <button class="addItem" (click)="addItem()">Add </button>
        </div>
       
      </div>

      
      <div></div>

      <table
        class="left-table"
        style=" width: 800px"
      >
        <thead>
          <tr>
            <th style="border: 1px solid dodgerblue;  padding:2%">Order Id</th>

            <th style="border: 1px solid dodgerblue;  padding:2%">Food Name</th>
            <th style="border: 1px solid dodgerblue;  padding:2%">Price LKR</th>
            <th style="border: 1px solid dodgerblue;  ">Qty</th>
            <th style="border: 1px solid dodgerblue;  padding:2%">
              Discount Price
            </th>
            <th style="border: 1px solid dodgerblue;  padding:2%"></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of items; let i = index">
            <td style="border: 1px solid dodgerblue;  padding:2%">
              {{ item.orderId }}
            </td>
            <td style="border: 1px solid dodgerblue;  padding:2%">
              {{ item.orderName }}
            </td>
            <td style="border: 1px solid dodgerblue;  padding:2%">
              {{ item.price }}
            </td>
            <td style="border: 1px solid dodgerblue;  padding:2%">
              {{ item.qty }}
            </td>
            <td style="border: 1px solid dodgerblue; padding: 1%">
              {{ item.discountPrice }}
            </td>
            <td style="border: 1px solid dodgerblue; ">
              <button class="removr" (click)="removeItem(item.orderId)">
                <i class="fa fa-close"></i>
              </button>
            </td>
          </tr>

        </tbody>
  
        <tfoot>
          <!-- <tr style="color: rgb(3, 1, 1); margin-top: 20px; ">
           
            <th colspan="5" style= "border: 3px solid rgb(3, 163, 59); font-size: x-large; text-align: right; ; padding: 1%">
              Total Discount:
            
              {{calculateDiscount() | currency: 'Rs. ' : 'symbol' : '1.2-2' }}
              
            </th>
        
          
          </tr> -->
          <tr style="color: rgb(235, 16, 16); margin-top: 20px; ">   
             <th colspan="5"  style= "border: 3px solid rgb(3, 163, 59); font-size: x-large; text-align: right; ; padding: 1%">  Total Price:
            {{calculateTotal() | currency: 'Rs. ' : 'symbol' : '1.2-2' }}
            
          </th></tr>
        </tfoot>
      </table>
    </div>
  </form>

</div>
