

<div class="heading-divider">

  <form class="form-divider" action="">
    
<div class="inform-divider-main">

<div class=""> <label for="">Enter Text:</label>  <input type="text" id="myInput" class="blinking-input">
</div>
<div class=""> <label for="">Enter Text:</label>  <input type="text"></div>
<div class=""> <label for="">Enter Text:</label>  <input type="text"></div>
<div class=""> <label for="">Enter Text:</label>  <input type="text"></div>
<div class=""> <label for="">Enter Text:</label>  <input type="text"></div>
<div class=""> <label for="">Enter Text:</label>  <input type="text"></div>
<div class=""> <label for="">Enter Text:</label>  <input type="text"></div>
<div class=""> <label for="">Enter Text:</label>  <input type="text"></div>

</div>
<div class="inform-divider-second">
    
<div class=""> <label for="">Enter Text:</label>  <input type="text"></div>
<div class=""> <label for="">Enter Text:</label>  <input type="text"></div>
<div class=""> <label for="">Enter Text:</label>  <input type="text"></div>
<div class=""> <label for="">Enter Text:</label>  <input type="text"></div>

</div>
<div class="inform-divider-third">
    
    <div class=""> <label for="">Enter Text:</label> <input type="text"></div>
    <div class=""> <label for="">Enter Text:</label>  <input type="text"></div>
    <div class=""> <label for="">Enter Text:</label>  <input type="text"></div>
    <div class=""> <label for="">Enter Text:</label>  <input type="text"></div>
    
    </div>
    <div class="inform-divider-fourth">
    
        <div class=""> <label for="">Enter Text:</label> <input type="text"></div>
        <div class=""> <label for="">Enter Text:</label>  <input type="text"></div>
        <div class=""> <label for="">Enter Text:</label>  <input type="text"></div>
        <div class=""> <label for="">Enter Text:</label>  <input type="text"></div>
        
        </div>
        <div class="inform-divider-fifth">
    
            <div class=""> <label for="">Enter Text:</label> <input type="text"></div>
            <div class=""> <label for="">Enter Text:</label>  <input type="text"></div>
            <div class=""> <label for="">Enter Text:</label>  <input type="text"></div>
            <div class=""> <label for="">Enter Text:</label>  <input type="text"></div>
            
            </div>
  </form>
</div>



    