<div>
  <div>
    <div>
      <label>D.R Exports (Pvt) Ltd.</label> <label>Pay Slips For the Month:{{months}}</label>
      </div>
      <div>
        --------------------------------------------------------------------------------------------------------------------------------
      </div>
  
      <div>
        <label for="">{{companyName}} {{department}} </label> <label for="">-slips No:{{slipsNo}}</label>
      </div>
      <div>
        <div>
          <label for="">Employee No.{{employeeNo}}</label><label for="">Emp.Name:{{employeename}}</label>
  
        </div>
        <div>
          --------------------------------------------------------------------------------------------------------------------------------
        </div>
        <div>
          ----------------------       Ernings   ------------         --------------------Deductions------------------------------------
        </div>
        <div>
          <label class="description-first" for="">Description</label> <label for="" class="amount-first">Amount</label>  <label class="description-second" for="">Description</label> <label class="amount-second" for="">Amount</label> 
        </div>
        <div>
          ---------------------------------------------------------------------------------------------------------------------------------
        </div>
      </div>
  </div>

<div class="ernings">
  <div>
    <span>Basic Salary : </span> <label class="amount-first" for="">{{ basicSalary | number:'1.2-2'}}</label> 
    
  </div>

  <div>
    <span>No Pay Amount</span> <label class="amount-first" for="">{{ targetInsentive |number:'1.2-2' }}</label> 
     </div>
  
  <div>
    <span>Target Insentive</span> <label class="amount-first" for="">{{ targetInsentive |number:'1.2-2' }}</label> 
   
  </div>

  <div>
    <span>late Hours</span> <label for="" class="amount-first">{{ bra2005 |number:'1.2-2'}}</label> 
    

  </div>
  <div>
    <span>Attend. Allowance</span> <label for="" class="amount-first">{{ bra2016 |number:'1.2-2'}}</label> 

  </div>
  <div>
    <span>EPF 8%</span> <label for="" class="amount-first">{{ bra2016 |number:'1.2-2'}}</label> 

  </div>
  
  <div>
    <span>B.R.A 2005</span> <label for="" class="amount-first">{{ interimAllowance2023 |number:'1.2-2' }}</label> 
   
  </div>
  <div>
    <span>Salary Advance</span>  <label for=""class="amount-first">{{ productivityincentive |number:'1.2-2'}}</label> 


  </div>
  <div>
    <span>B.R.A 2016</span>  <label for=""class="amount-first">{{ exprServiceL |number:'1.2-2'}}</label> 
    
  </div>
  <div>
    <span>Festival Advance</span>  <label for="">{{ specialAllowance |number:'1.2-2'}}</label> 
    
  </div>
  <div>
    <span>Interim Allowance 2023</span> <label for="">{{ holidayPay |number:'1.2-2' }}</label> 

  </div>
  

  <div>
<span class="">Special Loanse</span>  <label for="">{{ holidayPay |number:'1.2-2' }}</label> 
 </div>

<div>
  <span class="">Productivitiy Insentive</span>  <label for="">{{ holidayPay |number:'1.2-2' }}</label> 
</div>

<div>
  <span class=""> Payee TAX</span>  <label for="">{{ holidayPay |number:'1.2-2' }}</label> 
</div>
<div >
<span>Ex P R On Service</span> <label for="">{{ holidayPay |number:'1.2-2'}}</label> 
</div>
<div>
  <span class="">  S.R.L</span>  <label for="">{{ holidayPay |number:'1.2-2' }}</label> 
</div>
<div>
  <span class=""> Special Allowance</span>  <label for="">{{ holidayPay |number:'1.2-2' }}</label> 
</div>
<div>
<span>Stamp Duty</span> <label for="">{{ holidayPay |number:'1.2-2'}}</label> 
</div>

<div>
  <span>Holiday Pay</span> <label for="">{{ holidayPay |number:'1.2-2'}}</label> 
  </div>
  

  <div>
    <span>Special Deduction</span> <label for="">{{ holidayPay |number:'1.2-2'}}</label>
    </div>
    <div>
      <span></span> <label for=""></label>
      </div>
      <div>
        <span>Coin c/f</span> <label for="">{{ holidayPay |number:'1.2-2'}}</label>
        </div>

<div>
<span> </span> 




 
    <div>
      <span> Gross Total for EPF </span> <label for="">{{ holidayPay |number:'1.2-2'}}</label>  
      </div>

      <div>
       
        </div>
        
      <div>
        <span>OT Amount for Hours: </span> <label for="">{{ holidayPay |number:'1.2-2'}}</label>  
        </div>
      <div>
       
        </div>

        <div>
          <span> Coin b/f </span> <label for="">{{ holidayPay |number:'1.2-2'}}</label>  
          </div>
    
          <div>
           
            </div>
            
          <div>
            <span> </span> <label for=""></label> 
            </div>
          <div>
            <span> </span> <label for=""></label> 
            </div>
    




           
    <div>
      <span>Extra OT </span> <label for="">{{ holidayPay |number:'1.2-2'}}</label> 
      </div>
      <div>
        <span>Total Deduction </span> <label for="">{{ holidayPay |number:'1.2-2'}}</label> 
        </div>
        <div>
          <span>Total Additions </span> <label for="">{{ holidayPay |number:'1.2-2'}}</label>
          </div>
          <div>
            <span> </span> <label for=""></label> 
            </div>
        <div>
          <span> Total For Tax</span> <label for="">{{ holidayPay |number:'1.2-2'}}</label>
          </div>

          
          <div>
            <label for=""></label> <label for=""></label> <label for=""></label> <label for=""></label> 
            <label>Net Salary </label> <label for="">{{ holidayPay |number:'1.2-2'}}</label> 
            </div>
            <div>
              <span> </span> <label for=""></label> 
              </div>
          <div>
            <div>
              <span> </span> <label for=""></label> 
              </div>
              <div>
                <label for=""></label>
                <span>EPF Employer Contribution </span> <label for="">{{ holidayPay |number:'1.2-2'}}</label> 
                </div>
                <div>
                  <span> </span> <label for=""></label> 
                  </div>
                  <div>
                    <label for=""></label>
                    <span>ETF Employer Contribution </span> <label for="">{{ holidayPay |number:'1.2-2'}}</label> 
                    </div>
                    <div>
                      <span> </span> <label for=""></label> 
                      </div>
                      
                      <div>
                        <span>T.I Amount for EPF/ETF</span> <label for="">{{ holidayPay |number:'1.2-2'}}</label> 
                        </div>
                      <div>
                        <span> </span> <label for=""></label> 
                        </div>
                     
                        <div>
                          <span> </span> <label for=""></label> 
                          </div>
                             

