
<div class="main-heading">

    <ul class="topnav">
          <!-- <a>Damro Inventory</a> -->
          <div class="dropdown">
    
            <button class="dropbtn">Purchase Orders
              <i class="fa fa-caret-down"></i>
            </button>
    
            <div class="dropdown-content">
              <a href="/addOrder" >Add Order</a>
              <a href="/purchase"  >View Purchase Orders</a>
              <a style="background-color: #FF004D;" href="/deletePurchase">Delete Purchase Orders</a>
     
            </div>
          </div>
    
         <div class="dropdown">
            <button class="dropbtn">Suppliers
            <i class="fa fa-caret-down">
            </i>
          </button>
          
          <div class="dropdown-content">
            <a href="#">Add Suppliers</a>
            <a href="#">ViewSuppliers</a>
            <a href="#" style="background-color: #FF004D;">Delete Suppliers</a>
          
        </div>
    
          
        </div>
    
        <div class="dropdown">
            <button class="dropbtn">Suppliers
            <i class="fa fa-caret-down">
            </i>
          </button>
          
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          
        </div>
    
          
        </div>
        <div class="dropdown">
            <button class="dropbtn">Suppliers
            <i class="fa fa-caret-down">
            </i>
          </button>
          
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          
        </div>
    
          
        </div>
        <div class="dropdown">
            <button class="dropbtn">Suppliers
            <i class="fa fa-caret-down">
            </i>
          </button>
          
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          
        </div>
    
          
        </div>
        <div class="dropdown">
            <button class="dropbtn">Reports
            <i class="fa fa-caret-down">
            </i>
          </button>
          
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          
        </div>
    
          
        </div>
        <div class="dropdown">
            <button class="dropbtn">Settings
            <i class="fa fa-caret-down">
            </i>
          </button>
          
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          
        </div>
    
          
        </div>
        <div class="dropdown">
            <button class="dropbtn">Adjustments
            <i class="fa fa-caret-down">
            </i>
          </button>
          
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          
        </div>
    
          
        </div>
        <div class="dropdown">
            <button class="dropbtn">History and Audit Trails
            <i class="fa fa-caret-down">
            </i>
          </button>
          
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          
        </div>
    
          
        </div>
        <div class="dropdown">
            <button class="dropbtn">Alerts and Notifications
            <i class="fa fa-caret-down">
            </i>
          </button>
          
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          
        </div>
    
          
        </div>
        <div class="dropdown">
            <button class="dropbtn">Sales Orders
            <i class="fa fa-caret-down">
            </i>
          </button>
          
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          
        </div>
    
          
        </div>
    
    
          
    
        
    
    
    </ul>
    
    </div>
    
<router-outlet />
<div class="footer-divider">
  <h5> © 2024 Damro Software Engineering Division. All rights reserved. </h5>
</div>