<div class="container" >
  <!-- Button to open the modal -->

 <button class="print-btn" (click)="openModal()" >Print Receipt <i class="fa fa-save" ></i></button> 
  <!-- Modal structure -->
  <div class="modal"  *ngIf="isModalOpen">
    <div class="modal-content" style="width:800px ;height: 600px;">
      <button class="close-btn" (click)="closeModal()">X</button>
      <h2>Shop Name</h2>
      <p>F/143 Kandy Rd Colombo 10 Sri Lanka </p>
      <p> </p>
      <p>Contact Number 0716494044 </p>
      <p>************* Payment Recipt ***************</p>
      <p>Invoice NO:0000001</p>

       

           

       



    </div>

    
  </div>

</div>
